body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 5px;
  display: flex;
  flex-direction: row;
}
/*
.card {
  background-color: transparent;

  width: 200px;
  height: 250px;
  perspective: 1000px;
}

.card-inner  {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover .card-inner {
  transform: rotateZ(180deg) rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #ffffff;
  color: black;
  z-index: 2;
}

.card-back {
  background-color: #ffffff;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}
*/

a
{
height: 50px;
width: 130px;
background-color: #66ccff;
position: absolute;
margin: auto;
top: 50%;
left: 10%;
font-size: 30px;
text-align: center;
padding: 10px;
color: white;
text-decoration: none;
font-family: sans-serif;
border-radius: 5px;
box-shadow: 0px 8px 0px #0099e6, 0px 8px 20px #222222;
transition: all 0.2 ease;
}
a:active{
  box-shadow: none;
}
.cup
{
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%,-50%);
  width: 150px;
  height: 180px;
  border: 6px solid #fff;
  border-top: 2px solid transparent;
  border-radius: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: url(coffee2.png);
  background-repeat: repeat-x;
  animation: animate 5s linear infinite;
  box-shadow: 0 0 0 6px #262626, 0 20px 35px rgba(0,0,0,.5);
}
.cup::before
{
  content: '';
  position: absolute;
  width: 50px;
  height: 80px;
  border: 6px solid #262626;
  right: -68px;
  top: 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.cup:after
{
  content: '';
  position: absolute;
  width: 58px;
  height: 100px;
  border: 6px solid #262626;
  right: -78px;
  top: 20px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
@keyframes animate
{
    0%
    {
      background-position: 0 120px;
    }
    25%
    {
      background-position: 250 100px;
    }
    50%
    {
      background-position: 500px -70px;
    }
    75%
    {
      background-position: 2000 -80px;
    }
    100%
    {
      background-position: 0 120px;
    }
}

.circle
{
  position: absolute;
  top: 40%;
  left: 60%;
  border: 6px solid #fff;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0 0 0 6px #262626, 0 20px 35px rgba(0,0,0,.5);
  background: url(beach2.png);
  background-color: #498DFF;
  animation: sky 5.5s 2s forwards infinite;
}

.sun
{
background-color: #ff8c1a;
height: 20px;
width: 20px;
border-radius: 50%;
position: absolute;
left: 50%;
box-shadow: 0px 0px 5px 5px #ff8c1a;
animation: sunset 15s forwards;
}

@keyframes sunset {
  100%{
    transform: translateY(750px);
  }
}

@keyframes sky {
    0%{
      background-color: #ffd700;
    }
    25%{
      background-color: #ffb90f;
    }
    50%{
      background-color: #37A8E8;
    }
    75%{
      background-color: #68228b;
    }
    100%{
      background-color: #ffd700;
    }
}

